
- var app_href = "<?php echo APP_HREF; ?>"
- var fallback = "<?php echo FALLBACK; ?>"

<?php header("Content-type: text/html;charset=utf-8"); ?>
doctype html
<!--[if lt IE 10]><html class="no-js no-browser" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js browser" lang="en"><!--<![endif]-->

head
    meta( charset="utf-8" )
    title index · powered by #{pkg.name} #{pkg.version} (#{pkg.homepage})
    meta( name="description", content="index - powered by #{pkg.name} #{pkg.version} (#{pkg.homepage})" )
    meta( name="viewport", content="width=device-width, initial-scale=1" )
    link( rel="shortcut icon", href!="#{app_href}client/images/favicon/favicon-16-32.ico" )
    link( rel="apple-touch-icon-precomposed", type="image/png", href!="#{app_href}client/images/favicon/favicon-152.png" )
    link( rel="stylesheet", href!="#{app_href}client/css/styles.css" )
    script( src!="#{app_href}client/js/scripts.js", data-module="main" )

body

    div#fallback-hints
        span.noJsMsg
            | Works best with JavaScript enabled!
        span.noBrowserMsg
            | Works best in 
            a( href="http://browsehappy.com" ) modern browsers
            | !
        span.backlink
            a( href="#{pkg.homepage}", title="#{pkg.name} #{pkg.version} · #{pkg.description}" ) powered by #{pkg.name}

    div#fallback !{fallback}

</html>
