
- var app_href = "<?= APP_HREF ?>"
- var fallback = "<?= FALLBACK ?>"

doctype 5
//if lt IE 9
	<html class="no-js no-browser" lang="en">
//[if gt IE 8]><!
html.no-js.browser( lang="en" )
	//<![endif]

	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible", content="IE=edge" )
		title index · styled with {{pkg.name}} {{pkg.version}} ({{pkg.url}})
		meta( name="description", content="index styled with {{pkg.name}} {{pkg.version}} ({{pkg.url}})" )
		meta( name="viewport", content="width=device-width, initial-scale=1" )
		link( rel="shortcut icon", href!="#{app_href}client/images/favicon/app-16-32.ico" )
		link( rel="apple-touch-icon-precomposed", type="image/png", href!="#{app_href}client/images/favicon/app-152.png" )
		link( rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:300italic,700italic,300,700" )
		link( rel="stylesheet", href!="#{app_href}client/css/styles.css" )
		script( src!="#{app_href}client/js/scripts.js" )

	body

		div#topbar.clearfix
			ul#navbar

		div#bottombar.clearfix
			span.left
				a#h5ai-reference( href="{{pkg.url}}", title="{{pkg.name}} · {{pkg.description}}" )
					| {{pkg.name}} {{pkg.version}}
				span.noJsMsg
					| ⚡ JavaScript disabled! ⚡
				span.noBrowserMsg
					| ⚡ Unsupported browser! Works best in 
					a( href="http://browsehappy.com" ) modern browsers
					| . ⚡
			span.right
			span.center

		div#fallback !{fallback}
