block init

<?php header('Content-type: text/html;charset=utf-8'); ?>
doctype html
html(class='no-js', lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title #{title}
        meta(name='description', content=title)
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', href!='<?= $public_href; ?>images/favicon/favicon-16-32.ico')
        link(rel='apple-touch-icon-precomposed', type='image/png', href!='<?= $public_href; ?>images/favicon/favicon-152.png')
        link(rel='stylesheet', href!='<?= $public_href; ?>css/styles.css')
        <?php if (!$fallback_mode) { ?>
        script(src!='<?= $public_href; ?>js/scripts.js', data-module=module)
        <?php } ?>
        <?= $x_head_tags; ?>

    body#root(class=module)

        div#fallback-hints
            <?php if (!$fallback_mode) { ?>
            span.noJsMsg Works best with JavaScript enabled!
            span.noBrowserMsg Works best in #[a(href='http://browsehappy.com') modern browsers]!
            <?php } ?>
            span.backlink #[a(href=pkg.homepage, title=`h5ai v${pkg.version} - ${pkg.description}`) powered by h5ai]

        block body
