|<?php require_once(str_replace("\\", "/", dirname(__FILE__)) . "/inc/init.php"); ?>
|<?php header("Content-type: text/html;h5ai={{pkg.version}}"); ?>

- var href = "<?php echo $APP->get_app_abs_href(); ?>"
- var json = "<?php echo $APP->get_generic_json(); ?>"
- var fallback = "<?php echo $APP->get_no_js_fallback(); ?>"

doctype 5
//if lt IE 9
	<html class="no-js oldie" lang="en">
//[if gt IE 8]><!
html.no-js( lang="en" )
	//<![endif]

	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible", content="IE=edge,chrome=1" )
		title index · styled with {{pkg.name}} {{pkg.version}} ({{pkg.url}})
		meta( name="description", content="index styled with {{pkg.name}} {{pkg.version}} ({{pkg.url}})" )
		meta( name="viewport", content="width=device-width" )
		link( rel="shortcut icon", href!="#{href}client/images/app-16x16.ico" )
		link( rel="apple-touch-icon", type="image/png", href!="#{href}client/images/app-48x48.png" )
		link( rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:400,700,400italic,700italic" )
		link( rel="stylesheet", href!="#{href}client/css/styles.css" )
		script( src!="#{href}client/js/scripts.js", data-main="h5ai-main", data-backend="php" )

	body#h5ai-main

		div#topbar.clearfix
			ul#navbar

		div#content
			div#extended.clearfix

		div#bottombar.clearfix
			span.left
				a#h5ai-reference( href="{{pkg.url}}", title="{{pkg.name}} · {{pkg.description}}" )
					| {{pkg.name}} {{pkg.version}}
				span.hideOnJs.noJsMsg
					| ⚡ JavaScript is disabled! ⚡
				span.oldBrowser
					| ⚡ Some features disabled! Works best in 
					a( href="http://browsehappy.com" ) modern browsers
					| . ⚡
			span.right
			span.center

		div#data-generic-json.hidden !{json}

		div#data-php-no-js-fallback.hideOnJs !{fallback}
