|<?php
|	header("Content-type: text/html;{{pkg.name}}={{pkg.version}}");
|	require_once(str_replace("\\", "/", dirname(__FILE__)) . "/inc/init.php");
|	$app_abs_href = $APP->get_app_abs_href();
|	$is_head_request = stripos($_SERVER["REQUEST_METHOD"], "HEAD");
|?>

- var appHref = "<?php echo $app_abs_href; ?>client"
- var json = "<?php if (!$is_head_request) { echo $APP->get_generic_json(); }?>"
- var fallback = "<?php if (!$is_head_request) { echo $APP->get_no_js_fallback(); }?>"
- var config = "<?php if (!$is_head_request) { echo $APP->get_custom_config(); }?>"

doctype 5
//if lt IE 9
	<html class="no-js oldie" lang="en">
//[if gt IE 8]><!
html.no-js( lang="en" )
	//<![endif]

	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible", content="IE=edge,chrome=1" )
		title Directory index · styled with {{pkg.name}} {{pkg.version}}
		meta( name="description", content="Directory index styled with {{pkg.name}} {{pkg.version}} ({{pkg.url}})" )
		meta( name="viewport", content="width=device-width" )
		link( rel="shortcut icon", href!="#{appHref}/images/app-16x16.ico" )
		link( rel="apple-touch-icon", type="image/png", href!="#{appHref}/images/app-48x48.png" )
		link( rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:400,700,400italic,700italic" )
		link( rel="stylesheet", href!="#{appHref}/css/styles.css" )
		script( src!="#{appHref}/js/scripts.js", data-config!="#{config}" )

	body#h5ai-main

		div#topbar.clearfix
			ul#navbar

		div#content
			div#extended.clearfix

		div#bottombar.clearfix
			span.left
				a#h5ai-reference( href="{{pkg.url}}", title="{{pkg.name}} · {{pkg.description}}" )
					| {{pkg.name}} {{pkg.version}}
				span.hideOnJs.noJsMsg
					| ⚡ JavaScript is disabled! ⚡
				span.oldBrowser
					| ⚡ Some features disabled! Works best in 
					a( href="http://browsehappy.com" ) modern browsers
					| . ⚡
			span.right
			span.center

		div#data-generic-json.hidden !{json}

		div#data-php-no-js-fallback.hideOnJs !{fallback}
